<a href="https://colab.research.google.com/github/Jhustine-Bron/CPE-103-OOP-1-A/blob/main/LOOP_STATEMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#example 1

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [2]:
#example 2(The break statement)

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [3]:
#example 3(The break statement)

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

In [4]:
#example 4(Looping through a string)

for x in "week":
  print (x)

w
e
e
k

# **Range() Function**

In [5]:
for x in range(6):
  print (x)

0
1
2
3
4
5

In [12]:
for x in range (2, 6):
  print (x)

2
3
4
5

In [14]:
#with increment
for x in range (2, 6, 2):
  print (x)

2
4

# **Nested Loops**

In [15]:
adjective = ["Red", "Big", "Tasty"]
fruits = ["Apple", "Banana", "Cherry"]

for x in adjective:
  for y in fruits:
    print (x, y)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

# **Python While loops**

In [17]:
i = 1
while i < 6:
  print (i)
  i += 1

1
2
3
4
5

In [25]:
#Break statement
i = 1
while i < 6:
  print (i)
  if i == 3:
    break
  i += 1

1
2
3

In [48]:
#The continue statement
i = 0
while i < 6:
  i += 1
  if i == 3 or i == 6:
    continue
  print (i)

1
2
4
5

In [52]:
#The else statement
i = 1
while i < 6:
  print (i)
  i +=1
else:
  print ("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# APPLICATION **1**

In [61]:
H = ["Hello"]
n = [0,1,2,3,4,5,6,7,8,9,10]

for x in H:
  for y in n:
    print (x, y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [64]:
x = 0
while x < 10:
  x += 1
  print ("Hello", x)
  if x == 10:
    break

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# **PRACTICAL TEST**

In [73]:
#TRY 1
x = 3
while x < 10:
  print (x)
  x+= 1

3
4
5
6
7
8
9

In [86]:
#TRY 2
num = [3, 4, 5, 6, 7, 8, 9]
for x in num:
  print (x)

3
4
5
6
7
8
9

In [88]:
#TRY 3
for x in range (3, 10):
  print (x)

3
4
5
6
7
8
9