<a href="https://colab.research.google.com/github/Jhustine-Bron/CPE-103-OOP-1-A/blob/main/pythonfundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [6]:
x = 5
y = 2

if x > y:
      print("Five is greater than two!")

Python Comments

In [ ]:
#This is a comment
print ("Hello, World")

Variable Naming Convention

In [ ]:
#EXAMPLES ONLY

myvar = "John"
2myvar = "John" #wrong
_my_var = "John"
myVar = "John"
my var = "John" #wrong

Python Variable

In [10]:
z = 1
a, b = 0, -1
c = "Sally"
print (z)
print (a)
print (b)
print (c)

Casting

In [12]:
b = "sally" #This is a type of string
b = int(4)
print (b)

b = float (4)
print (b)

4
4.0

Type Function

In [13]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

"Double quotes or 'Single' quotes

In [25]:
y = "John"
y = 'John'
print (y)
print (y)

John
John

Case Sensitive

In [16]:
a = 4
A = "Sally"
print (a)
print (A)
#A will not overwrite a

4
Sally

Multiple Variables

In [17]:
x, y, z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [18]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [20]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

Other way

In [22]:
x = "python is "
y = "enjoying"
z = x + y
print (z)

python is enjoying

Arithmetic Operations

In [34]:
x =5
y = 3
print (x+y)

#exponentiation
x = 10
x**2

#floor division
x//3

#modulus
y = 2
x%y

#Division
x/y

8

5.0

Assignment Operators

In [36]:
a, b, c = 0, -1, 6
c %= 3
print (c)

0

Comparison Operators

In [39]:
 x = 5
 y = 3
 compare = x>y
 print (compare)

True

Logical Operators

In [104]:
  x = 5
  y = 2

  not (x>y)

False

Identity Operators

In [41]:
x = 5
y = 2

x is y

False

Bitwise Operator

In [66]:
#decimal to binary
#10 = 1010

x = 10
print (x << 2)

40

Application 1

In [ ]:
#Application 1

In [97]:

#Rectangle

print ("RECTANGLE AREA CALCULATOR")

print ("Length of the Rectangle: ")
L = input()
print ("Height of the Rectangle: ")
H = input()
print ("Width of the Rectangle: ")
W = input()
A = int(L) * int(H) * int(W)
print( "Area of a rectangle is",  A)

Length of the Rectangle:
21
Height of the Rectangle:
34
Width of the Rectangle:
21
Area of a rectangle is 14994

In [101]:
# Square
print ("SQUARE AREA CALCULATOR")

print ("Side of the Square: ")
L = input()
A = int(L) * int(L)
print( "Area of a square is",  A)

Side of the Square:
31
Area of a square is 961

In [105]:
# Circle
print ("CIRCLE AREA CALCULATOR")

print ("Radius of a Circle: ")
R = input()
A = 3.14159* int(R) * int (R)
print( "Area of a circle is",  A)

CIRCLE AREA CALCULATOR
Radius of a Circle:
32
Area of a circle is 3216.98816